*.swp
*.swo
*.swm
*.swn
*.prename
.parsemap_pid
parsemap
dev_config.ini

dev_certs/*

tests/node_modules

docker/*.crt
docker/*.key
docker/config.ini
docker/parsemap.tar.gz
docker/docker-entrypoint-initdb.d/*
